
<ion-header>
  <ion-navbar text-center>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Login</ion-title>
		<ion-buttons end>
			<button (click)="logOut()">Logout <ion-icon name="log-out"></ion-icon></button>
		</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="has-header gem-ion-content feed">
	<ion-searchbar (ionInput)="eventSearch($event)"></ion-searchbar>
	<ion-list>
    <ion-item *ngFor="let event of events">
			<div class="news-media">
				<img (click)="eventShow()" src="img/gemionic/news-image.jpg" alt="" class="fluid-image">
				<div class="media-social-stats">
					<button *ngIf="!event.like" (click)="onLike(event)" class="button button-small button-borderless button-dark"><ion-icon name="heart"></ion-icon></button>
					<button *ngIf="event.like" (click)="onLike(event)" class="button button-small button-borderless button-positive"><ion-icon name="heart"></ion-icon></button>
				</div>
			</div>
			<div class="news-item">
				<div class="news-thumb">
					<img src="img/gemionic/profile-image.jpg" alt="" class="img">
				</div>
				<div class="news-content">
					<h4>{{event.title}}</h4>
					<div class="gem-tiny-text news-item-stats">
						<ion-icon name="clock"></ion-icon> 2 days ago
						<span class="news-comment-summary">
							<ion-icon name="heart"></ion-icon> 2 
						</span>
					</div>
				</div>
				<div class="news-more-action">
					<ion-icon name="more"></ion-icon>
				</div>
			</div>
		</ion-item>
  </ion-list>
</ion-content>
<ul id="floating-button" style="bottom:20px">
	<li class="buttonClass" style="background-color:#387ef5">
		<a (click)="eventCreate()"><ion-icon name="add" style="color:#fff"></ion-icon></a>
	</li>
</ul>